a {
    color: #000;
    text-decoration: none;
}

.sidebar-container {
    background-color: #3D3D3D;
    height: 100vh;
    padding-left: 10px;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-container::-webkit-scrollbar{
    display: none;
}

.sidebar-container ul a {
    color: #fff;
}

.sidebar-container ul .sub-menu {
    background-color: #575757;
}

.sidebar-container ul a li:hover {
    background-color: #464646;
    border-right: 5px solid #fff;
}

.sidebar-container ul a li span{
    margin-right: 7px;
    font-size: 20px;
}
